examples/nefit-easy-latestgasusage-to-influx.json
[
    {
        "id": "4902b6d5.5ed758",
        "type": "nefit-easy",
        "z": "dadb2470.c2d958",
        "easyconfig": "f28ada3e.a49d18",
        "name": "",
        "topic": "nefit-easy",
        "command": "getval-gasusage",
        "value": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "17372f0d.021641",
                "30b12ee5.fcbea2"
            ]
        ]
    },
    {
        "id": "17372f0d.021641",
        "type": "debug",
        "z": "dadb2470.c2d958",
        "name": "Easy Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "d0b3a961.3e24d8",
        "type": "influxdb batch",
        "z": "dadb2470.c2d958",
        "influxdb": "",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "1e5d8151.b1228f",
        "type": "influxdb in",
        "z": "dadb2470.c2d958",
        "influxdb": "1de61cb9.b34cc3",
        "name": "Query nefit_easy values",
        "query": "select * from nefit_easy;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "9f9d13cf.d10e7"
            ]
        ]
    },
    {
        "id": "6678fb54.2d9874",
        "type": "inject",
        "z": "dadb2470.c2d958",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "1e5d8151.b1228f"
            ]
        ]
    },
    {
        "id": "9f9d13cf.d10e7",
        "type": "debug",
        "z": "dadb2470.c2d958",
        "name": "Query output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "30b12ee5.fcbea2",
        "type": "function",
        "z": "dadb2470.c2d958",
        "name": "Map Nefit to influx",
        "func": "var result = msg.payload.map(v => {\n    return { \n        timestamp : v.date,\n        measurement : \"nefit_easy\",\n        fields: {\n            hot_water : v[\"hot water\"],\n            central_heating : v[\"central heating\"],\n            average_outdoor_temperature : v[\"average outdoor temperature\"]\n        }\n    };\n});\n\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "d0b3a961.3e24d8"
            ]
        ]
    },
    {
        "id": "be5ee426.36b5e8",
        "type": "inject",
        "z": "dadb2470.c2d958",
        "name": "Trigger Latest Page",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "4902b6d5.5ed758"
            ]
        ]
    },
    {
        "id": "f28ada3e.a49d18",
        "type": "nefit-easy-config",
        "z": "",
        "timeout": "30"
    },
    {
        "id": "1de61cb9.b34cc3",
        "type": "influxdb",
        "z": "",
        "name": "",
        "usetls": false
    }
]